<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.2.9" targetFramework="net461" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net461" />
</packages>