<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FFBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <FFBatch.Properties.Settings>
            <setting name="font_size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="app_lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="dark_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wiz_vid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wiz_aud" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="to_tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="no_ctrl_p" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quick_queue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_dark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dark_sunset" serializeAs="String">
                <value>2022-11-03</value>
            </setting>
            <setting name="dark_sunrise" serializeAs="String">
                <value>2022-11-03</value>
            </setting>
            <setting name="dark_os" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="large_th" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filter_zero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pause_bat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yt_chaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yt_limit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yt_limit_n" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="force_mp4_b" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yt_clear_c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yt_embed_m" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="w_max" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="if_bat_low" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bat_level" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="monitor_fd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fd_monitored" serializeAs="String">
                <value />
            </setting>
            <setting name="mon_int" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="no_dest_overw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mon_fd_subs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignore_alr_enc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cust_med_col" serializeAs="String">
                <value />
            </setting>
            <setting name="cust_med_col_t" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="excl_list" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>exe</string>
                        <string>tmp</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FFBatch.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
